  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link bg-white">
      <img src="../../dist/img/logo-removebg.png" alt="G&amp;G Logo" class="brand-text w-100" style="opacity: .8">
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a class="nav-link">
              <i class="fa-solid fa-unlock"></i>
              <p>
                セキュリー不備
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/authControlLogin" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>認可制御</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/noLockOutLogin" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>ロックアウト機能</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/view/crossDomain" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>クロスドメイン</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/view/localCache" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>ローカルキャッシュ</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/view/clickJacking" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>クリックジャッキング</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/view/strictTransportSecurity " class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Strict-Transport-Security</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/view/xContentTypeOptions" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>X-Content-Type-Options</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/view/errorMessage" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>エラーメッセージ</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/securityLogin" class="nav-link">
              <i class="fa-solid fa-shield-halved"></i>
              <p>
                セキュリー対応
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>